<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <!--Material icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="d-flex">
    <!-- 導覽列 -->
    <div class="nav d-flex flex-column justify-content-between bg-light">
      <h1 class="logo p-4"><a href="#">ANSWER LOGO</a></h1>
      <div class="flex-fill menu d-flex flex-column justify-content-between">
        <ul class="d-flex flex-column">
          <li class="fz-16 fw-bold pt-4 pb-4">
            <a class="nav-link-hover d-flex" href="#">
              <span class="material-icons md-24 text-gray-900 me-3">assessment</span>
              <div class="align-middle">Dashboard</div>
            </a>
          </li>
          <li class="fz-16 fw-bold pt-4 pb-4">
            <a class="nav-link-hover d-flex" href="#">
              <span class="material-icons md-24 me-3">question_answer</span>
              <div class="align-middle">Question</div>
            </a>
          </li>
          <li class="fz-16 fw-bold pt-4 pb-4">
            <a class="nav-link-hover d-flex" href="#">
              <span class="material-icons md-24 me-3">assignment</span>
              <div class="align-middle">Assignment</div>
            </a>
          </li>
          <li class="fz-16 fw-bold pt-4 pb-4">
            <a class="nav-link-hover d-flex" href="#">
              <span class="material-icons md-24 me-3">video_library</span>
              <div class="align-middle">Course</div>
            </a>
          </li>
          <li class="active fz-16 fw-bold pt-4 pb-4" aria-current="true">
            <a class="nav-link-hover d-flex" href="#">
              <span class="material-icons md-24 me-3">supervisor_account</span>
              <div>Admin</div>
            </a>
          </li>
          <li class="fz-16 fw-bold pt-4 pb-4">
            <a class="nav-link-hover d-flex" href="#">
              <span class="material-icons md-24 me-3">settings</span>
              <div class="align-middle">Settings</div>
            </a>
          </li>
        </ul>
        <div class="author d-flex align-items-start p-4">
          <img class="avatar round-circle" src="../assets/images/andychen.jpeg" alt="Andy Chen">
          <div class="d-flex flex-column ps-3">
            <div class="auther_name fz-16 fw-bold">Andy Chen</div>
            <span class="auther_email fz-14 text-secondary">andy0401@mail.com</span>
          </div>
        </div>
      </div>
    </div>
    <%- contents %>


    <!-- <footer class="footer">
      footer
    </footer> -->

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>