body{
    font-family: "Lato",sans-serif;
    color: #212529;
}
a{
    text-decoration: none;
    color: #212529;
}
a:hover{
    color: #198754;
}
ul{
    list-style: none;
}
input{
    border: 1px solid #212529;
    border-radius: 2px;
}